git+https://github.com/pool-energy/chia-blockchain.git@release/2.7.0#egg=chia-blockchain
git+https://github.com/pool-energy/pool.git@main#egg=pool
chia_rs==0.41.1
djangorestframework==3.17.1
drf-spectacular==0.29.0
requests==2.33.1
django-filter==25.2
psycopg2==2.9.11
channels==4.3.2
cachetools==7.0.5
qrcode==8.2
pytz==2025.2
influxdb-client==1.50.0
py-spy==0.4.1
uvicorn==0.42.0
gunicorn==25.3.0
websockets==16.0
