git+https://${GITHUB_TOKEN}@github.com/pool-energy/chia-blockchain.git@stable/2.4
git+https://${GITHUB_TOKEN}@github.com/pool-energy/pool.git@main
djangorestframework==3.15.2
drf-yasg==1.21.8
requests==2.32.3
django-filter==24.3
psycopg2==2.9.10
channels==4.1.0
cachetools==5.5.0
qrcode==8.0
pytz==2024.2
influxdb_client==1.47.0
py-spy==0.3.14
uvicorn==0.32.0
gunicorn==23.0.0
websockets==13.1
